<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="D:/projects/boot-web">
        <classes>
            <class name="com.tsoft.boot.tests.UpdatingBD_HBK">
                <methods><include name="testOpenLink"/></methods>
            </class>
        </classes>
    </test>
</suite>